/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
}

.profile-pic {
    width: 100px; /* Adjust width as necessary */
    height: auto; /* Maintains aspect ratio */
    border-radius: 50%; /* Circular image */
    display: block;
    margin: 0 auto 20px; /* Centers the image and adds space below */
}

nav ul {
    list-style: none;
    background: #555;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #0779e4;
}

section {
    background: #fff; /* Add a background color */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px; /* Optional: adds rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow */
    max-width: 800px; /* Adjust as needed */
    margin-left: auto;
    margin-right: auto; /* Centers the section */
    text-align: left; /* Aligns text to the left */
}

footer {
    background: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }

    section {
        max-width: 100%; /* Ensures the section uses full width on smaller screens */
        padding: 15px; /* Slightly reduces padding on smaller screens */
    }
}
